@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*  background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
}


.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #FFF;
    padding: 1rem;
    border-radius: .3rem;
    max-width: 40rem;
    margin: 0 1rem;
    width: 100%;
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
}

.cards {
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in
}


.cards.active-card {
    flex: 5;
}

.cards.active-card h1 {
    opacity: 1;
}

.cards h1 {
    position: absolute;
    font-size: 1.4rem;
    top: 90%;
    left: 4%;
    color: #FFF;
    margin: 0;
    opacity: 0;
}

.card-one {
    background-image: url('https://cdn.pixabay.com/photo/2020/12/20/14/52/forest-5847268_960_720.jpg');
}

.card-two {
    background-image: url('https://cdn.pixabay.com/photo/2018/01/15/21/50/music-3084876_960_720.jpg');
}

.card-three {
    background-image: url('https://cdn.pixabay.com/photo/2020/11/19/14/43/christmas-tree-5758765_960_720.jpg');
}

.card-four {
    background-image: url('https://cdn.pixabay.com/photo/2020/12/17/00/43/skyscrapers-5838029_960_720.jpg');
}

.card-five {
    background-image: url('https://cdn.pixabay.com/photo/2020/12/15/15/33/building-5834006_960_720.jpg');
}

.header {
    text-align: center;
    font-size: 2.8rem;
    color: #181818;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

::placeholder {
    color: #d4d4d4;
}

label {
    margin-bottom: .4rem;
    display: inline-block;
    font-size: .9rem;
    color: #696969;
}

.field {
    width: 100%;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    padding: .8rem 1rem;
    border: none;
    font-size: 1.2rem;
    border: 1px solid #dadce0;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.field:active,
.field:focus {
    outline: none;
    border: 1px solid #256eff;
}

.button {
    padding: .5rem 1rem;
    font-size: 1.1rem;
    text-align: center;
    border-radius: .3rem;
    cursor: pointer;
    margin-bottom: 1rem;
    display: inline-block;
    background: transparent;
}


.delete-button {
    background-color: #ff3943;
    border: 1px solid #ff3943;
    color: #FFF;
}

.success-button {
    background-color: #6574cd;
    border: 1px solid #6574cd;
    color: #FFF;
}

.bordered-button {
    border: 1px solid #ff3943;
    color: #333;

}

.w-100 {
    width: 100%;
}

.button:active,
.button:focus {
    outline: none;
}

#main {
    border-top: 2px solid #dadce0;
    margin: 1rem 0;
    display: none;
}

.subtitle {
    margin: 1rem 0;
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 600;
    color: #333;
}

.sort-icon {
    position: relative;
    right: 0;
    color: #333;
    cursor: pointer;
    display: inline-block;
}

.collection {
    margin: 0;
    padding: 0;
}


.todos {
    list-style: none;
    margin: 0 0 1rem 0;
    background-color: #f8f8f8;
    padding: .5rem;
    border: 1px solid #d3d3d3;
    border-radius: .2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: .8rem;
}

.todo {
    display: inline-block;
    font-size: 1rem;
    color: #696969;
}

.delete-icon {
    color: #ff3943;
    cursor: pointer;
}

.message {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

#delete-all {
    display: none;
}

.desc {
    text-align: center;
    color: #777;
    font-size: 1rem;
    line-height: 1.4;
}

.otp-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    justify-content: center;
    align-self: center;
}


.otp-fields {
    height: 5rem;
    width: 5rem;
    margin: 2rem auto;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    text-align: center;
    font-size: 2rem;
}

.otp-fields:active,
.otp-fields:focus {
    border: 1px solid #6574cd;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}